<launch>
  <rosparam param="ticks_meter">7669.39584</rosparam>
  
  <node pkg="dp_diffdrive_pkg" type="motor_controller.py" name="motor_controller" output="screen" />

  <node pkg="dp_diffdrive_pkg" type="diff_tf.py" name="diff_tf">
     <rosparam param="rate">10</rosparam>
     <rosparam param="base_width">0.775</rosparam>
     
     <rosparam param="base_frame_id">link_base</rosparam>
     <rosparam param="odom_frame_id">odom</rosparam>
     <rosparam param="encoder_min">-2147483648</rosparam> <!-- int32 max -->
     <rosparam param="encoder_max">2147483647</rosparam>
  </node>
</launch>
