<launch>
  <!-- Arguments from cmd or above launch -->
  <arg name="rate" default="20.0" />
  
  <!-- Parameters -->
  <rosparam param="ticks_meter">7669.39584</rosparam>

  <!-- Launch nodes -->
  <node pkg="dp_diffdrive_pkg" type="motor_controller.py" name="motor_controller">
     <rosparam param="rate">20.0</rosparam>
  </node>

  <node pkg="dp_diffdrive_pkg" type="diff_tf.py" name="diff_tf">
     <rosparam param="rate">20.0</rosparam>

     <rosparam param="base_width">0.775</rosparam>
     <rosparam param="base_frame_id">link_base</rosparam>
     <rosparam param="odom_frame_id">odom</rosparam>
     <rosparam param="encoder_min">-2147483648</rosparam> <!-- int32 max -->
     <rosparam param="encoder_max">2147483647</rosparam>
  </node>

  <node pkg="dp_sensors_pkg" type="dp_kinect.py" name="dp_kinect" />
  
  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find dp_description_pkg)/urdf/roboturdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>

