</launch>
  <!-- Parameters -->
  <arg name="algorithm" default="dp_control_pursuit.launch" />
  <include file="$(find dp_control_pkg)/scripts/$(arg algorithm)"/>
  
  <!-- Motors -->  <!-- TODO: refactor unnecessary rate param -->
  <node pkg="dp_diffdrive_pkg" type="motor_controller.py" name="motor_controller" output="screen">
     <rosparam param="rate">20.0</rosparam>
  </node>

  <!--Pozyx -->
  <node name="uwb_publisher" pkg="dp_pozyx_pkg" type="dpr_publish.py" output="screen">
    <rosparam param="filter_type">"FILTER_TYPE_MOVINGMEDIAN"</rosparam>
    <rosparam param="filter_strength">10</rosparam>  
  </node> 

  <!--Controller -->
  <node name="pid_controller" pkg="dp_control_pkg" type="dpr_controlPD.py" output="screen" />

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find dp_description_pkg)/urdf/roboturdf.xacro'" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
