<launch>
    <arg name="device_to_use" default="cuda" />
    <arg name="plot_images" default="false" />

    <include file="$(find dp_visual_pkg)/launch/rgbd_start.launch">

    <node name="peopletracker_node"
          pkg="dp_visual_pkg"
          type="people_tracker.py"
          output="screen"
          args="$(arg device_to_use) $(arg plot_images)">
    </node>
</launch>